*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display:flex; /* + */
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  /*align-content: center; /* + */
  /*justify-content: center;  /* + */
  align-items: center;   /* + */
  max-height: 800px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
 
/* Здесь идет мой код */
.content {
  display:flex;
  gap:30px;
  width: 100%;
  /* align-items: end; + Закомментировать и проверить */
  margin: 133px 30px;
}

.result {
  display:flex;
  align-self: flex-end; /* Выравнивание по нижнему краю */
  gap:16px;
  flex-direction: column;
}

.content__details {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
  justify-content: start;
  position: relative;
}

.result__video-container {
  display:flex;
  position: relative;
  width: 711px;               /* Какие размеры ставить */
  height: 386px;
  /* inline-size: 711px; */
  /* margin: 0 0 11px; */
}

.result__video {
  inline-size: 100%;    /* Замостил */
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 40px;
  /* align-items: flex-start; */
}


.content__list {
  position: relative;
  display: flex;
  height: 300px;
  flex-direction: column;
  gap: 30px;
  overflow-y: scroll;
  width: 399px;
  scrollbar-width: none;      
}


.content__video-card {
  display: flex;
  justify-content: space-between;
  width: 394px;
  height: 107px; /* Какие задавались размеры ? карточкаам */
}


.title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  padding: 0 0 26px;
  color: #FFF;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
  }
  
.content__accent {
    color: #545050;
  }

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
}

.content__video-card-title {            /* Наименование городов в карточках */
  /* padding: 2px 2px 5px; */
  color: #FFF;
  font-family: "Oswald", sans-serif;     /* Надо ли подключать шрифт Oswald */
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;                     /* Разобьраться со стилями */
  text-transform: uppercase;
  hyphens: auto;                         /* Нет переноса текста на другую строку в Калининград */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: normal;
}

.search-form__fieldset-title {
font-family: "Fira Sans" Condensed;  /* Шрифт подключать? */
font-size: 18px;
font-weight: 400;
line-height: 21.6px;
text-align: left;
}

.content__video-card-description {
  padding: 0 2px;
  color: #FFF;
  font-weight: 400;
  line-height: 16.2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  inline-size: 100%;
}

.search-form__label { /* За что отвечает */
  display: flex;
  gap: 5px;          /* за отступ между заглавием и кнопкой */
  cursor: pointer;
  width: fit-content;
  align-items: center;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  width: fit-content;
}

.search-form__pseudo-checkbox {           /* Отвечает за формы выбора времени суток: День, ночь, утро*/
  width: 19px;
  height: 19px;                          /* Перебрать кнопки */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
}

.search-form__textfield {                        /* Лева колонка. Выбор города */
  border-top: 1px solid #FFF;
  border-right: none;
  border-bottom: 1px solid #FFF;
  border-left: none;
  padding: 2px 0;
  color: currentColor;
  font-family: inherit;
  font-weight: inherit;        /* У кого наследует, какой элемент выше в html коде */
  font-size: inherit;
  background-color: transparent;
  inline-size: 225px;
}

.button {
  border: 1px solid #FFF;               /* кнопки в целом */  
  padding: 6px 0;
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  inline-size: 100%;
}

.search-form__submit-button {
  align-self: flex-end;
}

.more-button {
  width: 100%;
  /* Стили кнопок */
}


/* Делаем кнопки */
.search-form__label:hover {
  text-decoration: underline 1px #FFF;
  text-underline-offset: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

/* Поля для состояния  активности чекбоксов */
.search-form__textfield:active {
  outline: 1px solid #FFF;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}
/* Поля для состояния  активности чекбоксов */

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #FFF;
  inline-size: 15px;
  block-size: 15px;
  margin: 1px 0 0 1px;
}

/* Поля для состояния карточек */
.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline 1px #FFF;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__card-link_current {
  background-color: #545050;
}


/* Стили скопировал  надо разбораться */
.content__list::-webkit-scrollbar {
  display: none;
}

.content__list-item:not(:last-child) {
  margin: 0 0 34px;
}